@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('./keyframes.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


*,::after, ::before{
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    color: #383838;
}

.decor-line{
    width: 100%;
    height: 1px;
    background-color: #C9C9C9;
}
:root {
    --color-white: #fff;
    --color-gray-100: #F7F7F7;
    --color-gray-200: #e7e7e7;
    --color-gray-300: #9C9C9C;
    --color-gray-500: #7D7D7D;
    --color-gray-700: #757575;
    --color-gray-900: #5E5E5E;
    --color-yellow-100: #FFC773;
    --color-yellow-300: #FFB240;
    --color-yellow-500: #FF9900;
    --color-yellow-700: #BF8630;
    --color-yellow-900: #A66300;
    --lin-grad-loader--deg: 135deg;
    --transition-blur: 1rem
}


@layer components {
    .bt-base{
        @apply overflow-hidden cursor-pointer transition-all focus-visible:outline-gray-100 
        after:absolute after:w-full after:h-full
        after:bg-white after:top-0 after:left-0 after:opacity-0 hover:after:opacity-30
        disabled:after:opacity-30 disabled:cursor-no-drop py-4 px-5 rounded-md relative xl:py-3 xl:px-4
    }
    .other {
        @apply md:grid-cols-1
    }
    .model-style{
        @apply h-[70vh] max-w-[943px] w-full lg:w-[calc(100vw-2rem)]
    }
    .slader__item {
        @apply snap-start px-4 xl:px-3 sm:px-2
    }
    .slader__container{
        @apply -mx-4  xl:-mx-3 sm:-mx-2 mb-4
    }
    .input--validation {
        @apply border-none
        outline-1 outline outline-black-100
        focus-visible:outline-yellow-400
        focus-visible:invalid:outline-invalid
        focus-visible:valid:outline-valid
        transition-all
    }
    .stait-active--fill {
        @apply fill-yellow-500
    }
    .stait-deactive--fill {
        @apply fill-gray-300
    }
    .icon-like {
        @apply group-[.icon-red]:fill-red-500 group-[.icon-red]:stroke-none group-[.icon-black]:stroke-gray-500 group-[.icon-black]:stroke-[1.5px] group-[.icon-black]:fill-none
    }
    .alert-model-1 {
        @apply px-3 py-1 rounded shadow shadow-gray-900 
    } 
    
}

.liner__gradient-loader {
    background-image: linear-gradient(var(--lin-grad-loader--deg), var(--color-white), var(--color-gray-200), var(--color-white), var(--color-gray-200));
    background-size: 400% 400%;
}

.blur-enter-active,
.blur-leave-active {
  transition: all 0.4s;
}
.blur-enter-from,
.blur-leave-to {
  opacity: 0;
  filter: blur(var(--transition-blur));
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.25s ease-out;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateX(50px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateX(50px);
}

.scrollbar-v1 {
    /* overscroll-behavior-inline: contain; */
    transition: all cubic-bezier(0.333, 0.5, 0.65, 1) 0.6s;
    scrollbar-width: thin;
    scrollbar-color: hsla(0 0% 91% / 60%);
    /* scroll-behavior: smooth; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scrollbar-v1::-webkit-scrollbar {
    width: 6px;
}

.scrollbar-v1::-webkit-scrollbar-thumb {
    border: 1px solid transparent;
    border-radius: 100px;
    background-color: hsla(0 0% 91% / 60%);
    background-clip: content-box;
}

@-moz-document url-prefix() {
    .scrollbar-v1{
        padding-right: 6px;
    }
}