// CONTAINER STYLE

$containerSize: (
    'sm': 640px,
    'md': 768px,
    'lg': 1024px,
    'xl': 1280px,
    '2xl': 1536px,
);

$containerWidth: (
    map-get($containerSize, 'sm'): 0 1rem,
    map-get($containerSize, 'md'): 0 1.5rem,
    map-get($containerSize, 'lg'): 0 2rem,
    map-get($containerSize, 'xl'): 0 2.5rem,
    map-get($containerSize, '2xl'): 0 3rem
);

$mediaScreen: (
    'sm': 640px,
    'md': 768px,
    'lg': 1024px,
    'xl': 1280px,
);


// FLEX VARIABLE
$justifyContent: (
    'center': center,
    'start': start,
    'end': end,
    'flex-start': flex-start,
    'flex-end': flex-end,
    'left': left,
    'right': right,
    'evenly': space-evenly,
    'between': space-between,
    'around': space-around,
    'baseline': baseline,    
);

  
$alignItems: (
    'center': center,
    'flex-start': flex-start,
    'flex-end': flex-end
);

$flexDirection: row, row-reverse, column, column-reverse;

$commonSize: (
    '0': 0,
    '0\\.5': 0.5,
    '1': 1,
    '1\\.5': 1.5,
    '2': 2,
    '2\\.5': 2.5,
    '3': 3,
    '3\\.5': 3.5,
    '4': 4,
    '4\\.5': 4.5,
    '5': 5,
    '5\\.5': 5.5,
    '6': 6,
    '6\\.5': 6.5,
    '7': 7,
    '7\\.5': 7.5,
    '8': 8,
    '8\\.5': 8.5,
    '9': 9,
    '9\\.5': 9.5,
    '10': 10,
    '11': 11,
    '12': 12,
    '14': 14,
    '16': 16,
);
// GRID VARIABLE
$justifyItems: (
    'start': start,
    'end': end,
    'center': center,
    'stretch': stretch
);

$alignContent: (
    'normal': normal,
    'center': center,
    'start': start,
    'end': end,
    'between': space-between,
    'around': space-around,
    'evenly': space-evenly,
    'baseline': baseline,
    'stretch': stretch
);


$borderRadius: (
    'full': 9999px,
    'xl': 8px,
    'lg': 6px,
    'base': 4px,
);
// TEXT VARIABLE
$fontSize: (
    '2xl': 4rem,
    'xl': 2rem,
    'lg': 1.5rem,
    'md': 1.125rem,
    'base': 1rem,
    'sm': 0.875rem,
    'xs': 0.75rem,
);

$textWeight: (
    'light': 300,
    'regular': 400,
    'bold': 700, 
);

$color: (
    "white": #fff,
    "invalid": #EF5959,
    "valid": #22c55e,
    "blue-100": #77B1F5,
    "blue-300": #4A98F5,
    "blue-500": #1074EB,

    "gray-100": #F7F7F7,
    "gray-200": #e7e7e7,
    "gray-300": #9C9C9C,
    "gray-500": #7D7D7D,
    "gray-700": #757575,

    "yellow-100": #FFC773,
    "yellow-300": #FFB240,
    "yellow-500": #FF9900,

    "red-300": #f87171,
    "red-500": #ef4444,

    "green-300": #4ade80,
    "green-500": #22c55e,

    "black-100": #575757,
    "black-300": #383838,
    "black-500": #323232,
    "black-700": #2D2D2D,
    "black-900": #282828,
);

$shadow: (
    shadow-sm: '0 1px 2px 0 rgb(0 0 0 / 0.05)',
    shadow: '0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1)',
    shadow-md: '0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1)',
    shadow-lg: '0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1)'
);


:root {
    --transparent: transparent;
    @each $name, $value in $color {
        --#{$name}: #{$value};
    }

    @each $name, $value in $fontSize {
        --text-#{$name}: #{$value};
    }

    --lin-grad-loader--deg: 135deg;
    --transition-blur: 1rem;
    // Shadow variable
    @each $name, $value in $shadow {
        --#{$name}: #{$value};
    }

};