// Display style
.inline-block {
  display: inline-block;
}

// Text align
.text-center {
  text-align: center;
}

// Font transform
.text-capitalize {
  text-transform: capitalize;
}

// line clamp style
.text-nowrap {
  text-wrap: nowrap;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

// Cursor style
.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

// Position style
.relative {
  position: relative;
}

// visible style
.hidden {
  overflow: hidden;
}

// Transform Style
.-scale-100 {
  transform: scale(-1);
}

//   Size style
.aspect-ratio {
  aspect-ratio: 1/1;
}

// Scrollbar Style
.scrollbar {
  transition: all cubic-bezier(0.333, 0.5, 0.65, 1) 0.6s;
  -webkit-touch-callout: none;
}

.scrollbar.ver {
  overflow: hidden scroll;
}

.scrollbar.hor {
  overflow: scroll hidden;
}

// @-moz-document url-prefix() {
//     .scrollbar-v1{
//         padding-right: 6px;
//     }
// }
@supports (scrollbar-width: auto) {
  .scrollbar {
    //   scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color);
  }
}

@supports selector(::-webkit-scrollbar) {
  .scrollbar::-webkit-scrollbar {
    width: 2px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 99px;
    border: 1px solid transparent;
    background-color: var(--scrollbar-color);
  }
}

*.Expand_Container_2 {
  width: calc(100% + 2rem);
  margin: 0 -1rem;
  padding: 0 1rem;
}
